nav {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
}

.logo {
    height: 48px;
    width: 48px;
    border-radius: 48px;
    background-image: url('../images/logo.svg');
    background-color: white;
}

.navbar-container {
    height: 70%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.041);
    backdrop-filter: blur(55px);
}

.navbar-list {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    height: 100%;
}

.nav-item {
    height: 100%;
    color: white;
    text-decoration: none;
    letter-spacing: 2.7px;
    font-size: 1rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item:hover {
    padding-top: 3px;
    border-bottom: 3px solid white;
}

.homepage-hr {
    width: 32%;
    position: absolute;
    top: 7.5%;
    left: 13%;
    border: .1px solid #979797;
    margin: 0;
    padding: 0;
}